.env
.data.*
/hoonc
test-leader
test-follower
.nockchain_identity
.nockchain_identity.peerid
target
assets/*.jam
!crates/nockapp/test-jams
keys.export
replay-checkpoints-51094
nockchain-api-checkpoints-backup
